# Puerto de la API
PORT=4000
NODE_ENV=development

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=cines_argon
DB_SYNCHRONIZE=true

# Seguridad y Autenticación
JWT_SECRET=ARGON_CINEMA_SUPER_SECRET_JWT_KEY_2026
JWT_EXPIRES_IN=7d

# Firma Criptográfica de Boletos (Anti-fraude)
TICKET_SIGNATURE_SALT=ARGON_CINEMA_SECURE_HMAC_SALT_2026

# Origen Permitido para CORS (Frontend)
CORS_ORIGIN=http://localhost:5173

# The Movie Database (TMDB) API
TMDB_API_KEY=tu_api_key_de_tmdb
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
